html{
     height: 100%;
     width:100%;
     font-family: 'Ubuntu', sans-serif;
     
}
body{
     height: 100%;
     width: 100%;
     margin:0%;
     background-color:#e0e0e0;
}
header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
}

footer{
    background-color: rosybrown;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom:0;
    position:fixed;
    width:100%;
}
footer>#foot{
    
    align-self: flex-end;
}
.social{
    height: 20px;
    width: 22px;
    
} 
.logo{
    height: 60px;
    width: 60px;
        
}
a{
    text-decoration: none;
    color: black;
}

#login{
    float:right;
    
   margin: 10px;
}
.contact{
    
   
    margin:1px;
}
.copyright {
    font-size: 10px;
    margin-top: auto;
    margin-bottom: 0.5%;
    text-align: center;
    
}
