.image{
    width:500px;
    height: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 5em;
}
.form{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.description{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    padding-bottom: 4em;
}

