.SearchBar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    height:380px;
    background-size: cover;
    background-repeat: no-repeat;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
#city{
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-top: 170px;
    margin-bottom: 170px;
    width: 24em;
}
.images{
    height: 150px;
    width: 150px;
    padding: 4%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25%;
    
   
}
.cityimages{
    
    margin-left: 15%;
    margin-right: 15%;  
   
}
.view {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 2%;
    
}
